<!doctype html>
<html lang="en" ng-app="tokenLibraryApp">
<head>

  <meta charset="utf-8">
  <title>Token Library</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular/angular-file-upload.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>

</head>
<body>

  <div ng-controller="CreatureListCtrl">
  	
  	<!-- Library Start -->

  	<p>
  		
  		<!-- Create Creature -->

  		Create a new creature named 
  		<input type="text" ng-model="newCreatureName"> 
  		whose portrait is located 
  		<select ng-model="newCreatureImageInputMode">
  			<option value="url">at this URL:</option>
  			<option value="fileUpload">in this file:</option>
  		</select>

  		<div ng-show="newCreatureImageInputMode == 'url'" >
  			<input type="text" id="newCreatureImageUrl" ng-model="newCreatureImageUrl">
  		</div>
  		<div ng-show="newCreatureImageInputMode == 'fileUpload'">
  			

  			<form id="imageUploadForm" enctype="multipart/form-data" method="post">
					<input type="file" nv-file-select name="imageFile" id="imageFile" uploader="uploader">
					<div ng-repeat="item in uploader.queue"><input type="button" ng-click="item.upload()" value="Upload"/></div>
				</form>
  		</div>

  		<input type="button" ng-show="newCreatureImageUrl" ng-click="addNewCreature(newCreatureName,newCreatureImageUrl)" value="Create this creature!">
  	</p>

  	<!-- Creature Library -->

  	Creature library
  	<ul>
  		<li ng-repeat="creature in creatures">
  			<span>{{creature.name}}</span>
  			<img ng-src="{{creature.imageUrl}}" />
  			<input type="button" value="Add {{creature.name}}" ng-click="addToken(creature)"/>
  		</li>
  	</ul>

  	<!-- Selected Tokens -->

  	Display added creature tokens
  	<ul>
  		<li ng-repeat="token in tokens">
  			<span>{{token.name}}</span>
  			<img ng-src="{{token.imageUrl}}" />
  			<input type="button" value="Remove {{token.name}}" ng-click="removeToken($index)"/>
  		</li>
  	</ul>

  	<!-- Library End -->

  </div>

</body>
</html>